@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
   
    font-family: 'Poppins', sans-serif;
}

.pagina{
    display: flex;
    flex-flow: row;
}

.p-coluna{
    
    width: 50%;
}

@media (min-width:788.435px){
    .s-coluna {width: 1000px  ; height: 1070px    ;background: #F2EEE9;}

}


.p-coluna h1{
    position: absolute;
    width: 101px;
    height: 75px;
    left: 156px;
    top: 80px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 75px;
}

.p-coluna h2{
    position: absolute;
    width: 585px;
    height: 150px;
    left: 156px;
    top: 250px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
}



.p-coluna .botoes{
   box-sizing: border-box;

   position: absolute;
    width: 585px;
    height: 98px;
    left: 156px;
    top: auto;

    border-radius: 10px;

    
}

.p-coluna .bt1{
    box-sizing: border-box;
background: none;
position: absolute;
width: 585px;
height: 98px;
left: auto;
top: 572px;
border-top:  0.5px solid #000814;
border-bottom: none;
border-left: none;
border-right: none; 



font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 38px;
padding-top: 31px;
padding-bottom: 29px;
padding-left: 26px;
padding-right: 254px;
}

.p-coluna .bt1:hover{
    background: #000814;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}

.p-coluna .bt2{
    box-sizing: border-box;
background: none;
position: absolute;
width: 585px;
height: 98px;
left: auto;
top: 671px;
border-top:  0.5px solid #000814;
border-bottom: none;
border-left: none;
border-right: none;
font-weight: 300;
font-size: 25px;
line-height: 38px;



padding-top: 31px;
padding-bottom: 29px;
padding-left: 26px;
padding-right: 254px;
}


.p-coluna .bt2:hover{
    background: #000814;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}


.p-coluna .bt3{
    box-sizing: border-box;
    position: absolute;
    background: none;
width: 585px;
height: 98px;
left: auto;
top: 770px;


border-top:  0.5px solid #000814;
border-bottom: 0.5px solid #000814;
border-left: none;
border-right: none;
font-weight: 300;
font-size: 25px;
line-height: 38px;
padding-top: 31px;
padding-bottom: 29px;
padding-left: 26px;
padding-right: 254px;
}

.p-coluna .bt3:hover{
    background: #000814;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    
    }
    


    .s-coluna h3{
    position: absolute;
    width: 100Px;
    height: 750px;
    left: 1000px auto;
    top: auto;
    



    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 70px;
    top: 300px;
    margin-left: 200px;
    
}

.s-coluna h4{
    position: absolute;
    width: 100Px;
    height: 750px;
    left: 1000px auto;
    top: auto;
    



    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 70px;
    top: 290px;
    margin-left: 580px;
    
}

.s-coluna h5{
    position: absolute;
    width: 100Px;
    height: 750px;
    left: 1000px auto;
    top: auto;
    



    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 70px;
    top: 280px;
    margin-left: 370px;
    
    
}



/*teste**************************************/




/*teste*************************************/



